ion-card {
    background-color:#dddbca !important; 
  }

  ion-card-title{
    color: #8c886a;
    font-weight: bold;
  }


  .boton-agregar {
    --background:#cbc8b1; 
    --color: black; 
    position: fixed;
    bottom: 20px; 
    right: 20px;
    font-size: 35px;
    width: 60px;
  }
 .boton-agregar2 {
    --background:#cbc8b1; 
    --color: black; 
  }

.boton-agregar3{
    position: fixed;
    bottom: 20px; 
    right: 20px;

}
