<ion-card *ngFor="let tarea of tareas; let i = index">
  <ion-card-header>
    <ion-card-title>{{ tarea.nombre }}</ion-card-title>
    <ion-card-subtitle>{{ tarea.fecha | date:'mediumDate' }}</ion-card-subtitle>
  </ion-card-header>

 
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header">
        <ion-label>Mostrar Detalles</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">{{tarea.detalles}}</div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-button (click)="eliminarTarea(i)" color="danger">Eliminar</ion-button>


</ion-card>


<ion-button expand="block" (click)="openModal()" class="boton-agregar" size="small">+</ion-button>



