ion-card {
    background-color:#dddbca !important; 
  }

  ion-card-title{
    color: #8c886a;
    font-weight: bold;
  }


  .boton-agregar {
    --background:#cbc8b1; 
    --color: black; 
    position: fixed;
    bottom: 20px; 
    right: 20px;
    font-size: 35px;
    width: 60px;
  }
 .boton-agregar2 {
    --background:#cbc8b1; 
    --color: black; 
  }

.boton-agregar3{
    position: fixed;
    bottom: 20px; 
    right: 20px;

}

ion-accordion{
  background-color:#dddbca;
  width: 20 px;
}


ion-accordion.accordion-collapsing ion-item[slot='header'],
ion-accordion.accordion-collapsed ion-item[slot='header'] {
  --background: #dddbca;
  color:#8c886a;
  font-weight: bold;
  width: 15%;

}

ion-accordion.accordion-expanding ion-item[slot='header'],
ion-accordion.accordion-expanded ion-item[slot='header'] {
  --background: #8c886a ;
  font-weight: bold;
  width: 15%;
}