<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title><ion-icon name="settings"></ion-icon>  Ajustes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">oli</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title horizontal="end">
        {{ notasAgregadas ? 'Tus notas' : '¡¡Agrega tus notas aquí :)!!' }}
      </ion-title>    </ion-toolbar>
  </ion-header>
</div>


<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="add" (click)="abrirModal()"></ion-icon>
  </ion-fab-button>
</ion-fab>
