

<div class="ion-page" id="main-content">
  <ion-header >
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>App de Notas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 
  <ion-item-sliding *ngFor="let nota of notas">
    <ion-item >
      <ion-label>
        <h2>{{ nota.titulo }}</h2>
        <p>{{ nota.descripcion }}</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="secondary" (click)="deleteNota(nota.id)">
        Eliminar
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-content>
</div>
    







