// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: pink;
    --ion-color-secondary: rgba(128, 0, 128, 0.559);
    --ion-color-tertiary: rgba(92, 255, 255, 0.941);
    --ion-color-hola: black;
}



